/*======Colors=========*/
$white: #ffffff;
$cosmic-latte: #f9fef9;
$light-white: #fafafa;
$white-smoke: #f5f5f5;
$black: #000000;
$dark-black: #212529;
$ligh-black: #333;
$nav-color: #353535;
$dark-blue:#141



/*====font-size=======*/
